$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$Dark-gray: hsl(0, 0%, 48%);
$most-often-padding: 0 8% 0;

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin modal-button {
  background-color: $ModerateCyan;
  color: white;
  border: none;
  border-radius: 50px;
}
